* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

:root {
    --cell-gap: 10px;
    --cell-size: 100px;
    --board-size: 400px;

    --board-bg: rgba(44, 44, 9, 0.249);
    --body-bg: rgb(248, 247, 247);

    --default-cell-bg: rgb(241, 241, 234);
    --default-cell-text-color: #222;
    --cell-bg: var(--default-cell-bg);
    --cell-text-color: var(--default-cell-text-color);
}

body {
    background: var(--body-bg);
}

.game {
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.204);
    min-height: 500px;
    background: #fff;
    box-sizing: border-box;
    max-width: 700px;
    margin: 5% auto;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.title {
    margin-bottom: 20px;
    font-size: normal;
    font-family: monaco, monospace;
}

.button {
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgb(195, 192, 207);
    background: rgb(248, 243, 243);
    transition: all 0.2s ease;
    background: #fff;
    color: #222;
}

.button:hover {
    color: #fff;
    background: #222;
    box-shadow: 0 0 0 1px rgb(78, 42, 255);
}

.container {
    max-width: calc(var(--board-size) + var(--cell-gap) * 2);
    margin: 0 auto;
}

.score-label {
    opacity: 0.7;
    font-size: 1.1em;
}

.score-value {
    font-weight: 500;
}

.board {
    width: calc(var(--board-size) + var(--cell-gap) * 2);
    height: calc(var(--board-size) + var(--cell-gap) * 2);

    background: var(--board-bg);
    border-radius: 4px;
    margin: auto;

    position: relative;
}

.board-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: var(--cell-gap);
    padding: var(--cell-gap);

    box-sizing: border-box;

    position: absolute;
    inset: 0;
}

.board-scene {
    inset: var(--cell-gap);
    position: absolute;
}

.cell {
    width: calc(var(--cell-size) - var(--cell-gap));
    height: calc(var(--cell-size) - var(--cell-gap));
    display: inline-block;
    border-radius: 2px;
    background: var(--cell-bg);
    color: var(--cell-text-color);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.cell-empty {
    --cell-bg: var(--default-cell-bg);
    --cell-text-color: var(--default-cell-bg);
}

.cell-filled {
    position: absolute;
    animation: cell-appear-amin 0.3s ease;
}

.cell-filled:not(.no-transition) {
    transition: all 0.2s ease;
}

@keyframes cell-appear-amin {
    0% {
        transform: scale(0.2);
    }

    100% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.cell-2 {
    --cell-bg: rgb(253, 247, 231);
}

.cell-4 {
    --cell-bg: rgb(254, 244, 216);
}

.cell-8 {
    --cell-bg: rgb(255, 239, 194);
}

.cell-16 {
    --cell-bg: rgb(255, 228, 155);
}

.cell-32 {
    --cell-bg: rgb(253, 209, 86);
}

.cell-64 {
    --cell-bg: rgb(249, 187, 18);
    --cell-text-color: #fff;
}

.cell-128 {
    --cell-bg: rgb(247, 196, 162);
}

.cell-256 {
    --cell-bg: rgb(249, 178, 131);
    --cell-text-color: #fff;
}

.cell-512 {
    --cell-bg: rgb(252, 155, 90);
    --cell-text-color: #fff;
}

.cell-1024 {
    --cell-bg: rgb(228, 109, 30);
    --cell-text-color: #fff;
}

.cell-2048 {
    --cell-bg: #222;
    --cell-text-color: #fff;
}
