* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    transition: 0.1s;
}

:root {
    --board-size: 400px;

    --cell-gap: 20px;
    --cell-size: calc(var(--board-size) / 4);

    --board-bg: rgba(44, 44, 9, 0.424);
    --body-bg: rgb(248, 247, 247);

    --default-cell-bg: rgba(238, 228, 218, 0.776);
    --default-cell-text-color: #5c564f;
    --cell-bg: var(--default-cell-bg);
    --cell-text-color: var(--default-cell-text-color);

    --game-container-bg: #fff;

    --cell-font-size: 35px;
    --cell-font-size-sm: 30px;
}

html,
body {
    padding: 0;
    margin: 0;
    touch-action: none;
    overflow: hidden;
}

body {
    background: var(--body-bg);
}
.game {
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.204);
    min-height: 500px;
    background: var(--game-container-bg);
    box-sizing: border-box;
    max-width: 700px;
    margin: 0 auto;
    height: 100vh;
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.title {
    margin-bottom: 20px;
    font-size: normal;
    font-family: monaco, monospace;
}

.button {
    border: none;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgb(195, 192, 207);
    background: rgb(248, 243, 243);
    transition: all 0.2s ease;
    background: #fff;
    color: #222;
}

.button:hover {
    color: #fff;
    background: #222;
    box-shadow: 0 0 0 1px rgb(78, 42, 255);
}

.container {
    max-width: calc(var(--board-size) + var(--cell-gap) * 2);
    margin: 0 auto;
}

.score-label {
    opacity: 0.7;
    font-size: 1.1em;
}

.score-value {
    font-weight: 500;
}

.board {
    width: calc(var(--board-size) + var(--cell-gap) * 2);
    height: calc(var(--board-size) + var(--cell-gap) * 2);

    background: var(--board-bg);
    border-radius: 4px;
    margin: auto;

    position: relative;
}

.board-grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: var(--cell-gap);
    padding: var(--cell-gap);

    box-sizing: border-box;

    position: absolute;
    inset: 0;
}

.board-scene {
    inset: var(--cell-gap);
    position: absolute;
}

.cell {
    width: calc(var(--cell-size) - var(--cell-gap));
    height: calc(var(--cell-size) - var(--cell-gap));
    display: inline-block;
    border-radius: 2px;
    background: var(--cell-bg);
    color: var(--cell-text-color);
    font-size: var(--cell-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.cell-empty {
    --cell-bg: var(--default-cell-bg);
    --cell-text-color: var(--default-cell-bg);
}

.cell-filled {
    position: absolute;
    animation: cell-appear-amin 0.3s ease;
}

.cell-filled:not(.no-transition) {
    transition: all 0.2s ease;
}

@keyframes cell-appear-amin {
    0% {
        transform: scale(0.2);
    }

    100% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.cell-2 {
    --cell-bg: #eee4da;
}

.cell-4 {
    --cell-bg: #eee1c9;
}

.cell-8 {
    --cell-bg: #ebdfd1;
    --cell-text-color: #f3882a;
}

.cell-16 {
    --cell-bg: #f69664;
    --cell-text-color: #f9f6f2;
}

.cell-32 {
    --cell-bg: #f77c5f;
    --cell-text-color: #f9f6f2;
}

.cell-64 {
    --cell-bg: #f75f3b;
    --cell-text-color: #f9f6f2;
}

.cell-128 {
    --cell-bg: #edd073;
    --cell-text-color: #f9f6f2;

    font-size: var(--cell-font-size-sm);
}

.cell-256 {
    --cell-bg: #edcc62;
    --cell-text-color: #f9f6f2;

    font-size: var(--cell-font-size-sm);
}

.cell-512 {
    --cell-bg: #edc950;
    --cell-text-color: #f9f6f2;

    font-size: var(--cell-font-size-sm);
}

.cell-1024 {
    --cell-bg: #ff811a;
    --cell-text-color: #f9f6f2;

    font-size: var(--cell-font-size-sm);
}

.cell-2048 {
    --cell-bg: #222;
    --cell-text-color: #fff;

    font-size: var(--cell-font-size-sm);
}

@media screen and (max-width: 700px) {
    :root {
        --board-size: 300px;
        --cell-font-size: 30px;
        --cell-font-size-sm: 25px;
    }

    .game {
        height: calc(100vh);
        box-sizing: border-box;
        margin: 0;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color: #fff;
    }

    :root {
        --body-bg: rgb(50, 46, 46);
        --game-container-bg: rgb(57, 54, 54);
        --default-cell-text-color: #292826;
    }

    .button {
        background: rgb(111, 109, 109);
        color: #fff;
    }
}
